/node_modules
/public/build
/public/hot
/public/storage
/public/favicon.ico
/storage/*.key
/vendor
/app/Http/Controllers/App/TestController.php
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
.deploy